.img {
  width: 50px;
  height: 50px;
}

.w-100 {
  width: 100%;
}

.colorBHD {
  color: #8bc541;
}

.btnColorBHD {
  color: #00ac4d;
}

.colorCinema {
  color: #df0d7a;
}

.colorDDC {
  color: #9c9c9c;
}

.colorLotte {
  color: #ca4137;
}

.colorMegaGS {
  color: #e5a813;
}

.flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.opacity03 {
  opacity: 0.3;
}

.active {
  opacity: 1;
}

.pm-0 {
  margin: 0;
  padding: 0;
}

.ageType {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  min-width: 33px;
  text-align: center;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #00ac4d;
}

.tab {
  display: flex;
  justify-content: flex-start;
  height: 700px;
}

.tab ul li {
  list-style: none;
}

.tab p,
.tab h4 {
  margin: 0;
  padding: 0;
}

.tab .logoRap {
  border: 1px solid #ebebec;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab .logoRap .btnLogo {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 1px solid #ebebec;
  transition: all 0.2s;
}

.tab .logoRap .btnLogo:hover {
  opacity: 1;
}

.tab .diadiem__Rap {
  height: 100%;
  max-width: 100%;
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.tab .diadiem__Rap .rapInfo {
  cursor: pointer;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ebebec;
  transition: all 0.2s;
}

.tab .diadiem__Rap .rapInfo:hover {
  opacity: 1;
}

.tab .diadiem__Rap .rapInfo .d-flex {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tab .diadiem__Rap .rapInfo .d-flex .infoMovieCinema {
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab .diadiem__Rap .rapInfo .d-flex a {
  color: #fb4226 !important;
  font-size: 12px;
}

.tab .listMovie {
  border: 1px solid #ebebec;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}

.tab .listMovie .wrapListMovie {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ebebec;
}

.tab .listMovie .wrapListMovie .titleMovie {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tab .listMovie .wrapListMovie .lichCHieu {
  display: flex;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tab .listMovie .wrapListMovie .btnMovie {
  color: #000;
  border: 1px solid #e4e4e4;
  display: flex;
  padding: 5px;
  font-size: 14px;
  background: rgba(246, 246, 246, 0.5);
  align-items: center;
  font-family: "sfMedium";
  font-weight: 400;
  line-height: 1.42857143;
  border-radius: 7px;
  letter-spacing: normal;
  justify-content: center;
  text-decoration: none;
  margin: 3px;
}
/*# sourceMappingURL=cumrapstyle.css.map */