.dangKy__Img {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bgLogin.jpg);
  background-size: contain;
  background-position: center;
  .dangKy__Khung {
    display: flex;
    flex-direction: column;

    max-width: 400px;
    padding: 40px 60px 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-image: linear-gradient(
      to bottom,
      rgba(20, 50, 93, 0.9),
      rgba(8, 22, 48, 0.9)
    );
    box-shadow: 0 0 10px 0;
    color: #fff;
    border-radius: 6px;

    .dangKy__Logo {
      width: 60%;
      margin-bottom: 10px;
      cursor: pointer;
      justify-items: center;
      align-self: center;
    }

    .dangKy__Input {
      width: 100%;
      height: 65px;
      margin: 5px 0;

      .input {
        color: $color-black;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 32px;
        background: white;
        padding: 5px;
        border: solid 1px white !important;
        border-radius: 5px;
        border-width: inherit;
        border-style: none;
      }

      .canhBao {
        color: $color-red;
        margin-bottom: 0;
      }
      .ten__Input {
        margin-bottom: 0;
      }
    }

    .btn__dangKy {
      width: 100%;
      border: 1px solid #949494;
      border-radius: 4px;
      text-align: center;
      background: $color-red;
      color: $color-white;
      opacity: 1;
      font-weight: $fw-1;
      padding: 7px 25px;
      transition: all 0.2s;
      margin-bottom: 20px;
      letter-spacing: 3.5px;
      font-size: $fs-2;
      margin-top: 10px;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
    .spanTaiKhoan{
      padding-right: 5px;
    }
    .dangNhap{
      color: #096dd9;
    }
    .taiKhoan_Link {
      text-align: center;
    }
    .dangKy__Dong {
      opacity: 1;
      position: absolute;
      top: -18px;
      right: -18px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #081630;
      box-shadow: 0 2px 10px 0;
      .btn__Dong {
        padding-top: 5px;
        padding-left: 13px;
        color: gray;
        background: none;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    @include respon-to("small") {
      .dangKy__Dong {
        top: 5px;
        right: 5px;
      }
      .dangKy__Input {
        margin: 0;
      }
      .dangKy__noiDung {
        margin: 30px 0;
      }
      .btn__dangKy {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  @include respon-to("lage") {
    .dangKy__Khung {
      top: 60%;
    }
  }
  @include respon-to("small") {
    .dangKy__Khung {
      max-width: none;
      padding: 50px 32px 30px;
      top: 60%;
      width: 100%;
      height: 100%;
    }
  }
}
