.btn__dangXuat {
  border: none;
  transition: all 0.2s;
  background-color: white;
  width: 100%;
  text-align: left;
  &:hover {
    cursor: pointer;
  }
}
.btnAdmin {
  width: 100%;
}
.MuiMenuItem-root {
  font-size: 14px !important;
  a {
    color: black;
  }
}
.MuiMenuItem-root:hover {
  background-color: #fb4226 !important;
}
.MuiMenuItem-root:hover {
  .btn__dangXuat {
    color: white;
    background-color: #fb4226;
  }
  a {
    color: white;
  }
}

.makeStyles-root-10 .MuiListItem-gutters:hover {
  background-color: #0000000a !important;
}
.MuiListItem-button {
  .aMobile {
    color: #9b9b9b;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      color: #fb4226;
    }
  }
}
.MuiTab-textColorSecondary.Mui-selected {
  color: #fb4226 !important;
}
.PrivateTabIndicator-colorSecondary-19 {
  background-color: #fb4226 !important;
}
